
  <mat-list class="personas-list">
    <mat-list-item class="persona">
      <img matListAvatar class="persona-img" src="../../assets/bm-assets/Seasonal_Specialist_BM_Elise_.jpg" />
    </mat-list-item>
    <mat-list-item class="persona">
      <img matListAvatar class="persona-img" src="../../assets/bm-assets/Eduarda_Headshot.jpg"/>
    </mat-list-item>
    <mat-list-item class="persona">
      <img matListAvatar class="persona-img" src="../../assets/bm-assets/Grace_Headshot.jpg"/>
    </mat-list-item>
    <mat-list-item class="persona">
      <img matListAvatar class="persona-img" src="../../assets/bm-assets/Nylle_Headshot.jpg" />
    </mat-list-item>
  </mat-list>
