@import '~@angular/material/theming';

$bm-primary: mat-palette($mat-blue,#63789C);
$bm-accent: mat-palete($mat-lime, #4e677c);
$bm-warn: mat-palette($mat-indigo, #656e96);

$bm-theme: mat-light-theme($bm-primary, $bm-accent, $bm-warn);

